#!/usr/bin/env ruby

compile '/index.md' do
  filter :kramdown, smart_quotes: 'ldquo,rdquo,laquo,raquo', auto_ids: false, syntax_highlighter: 'rouge'
  layout '/idx.haml'
  layout '/default.*'
  write ext: 'html'
end

compile '/**/*.md' do
  filter :kramdown, smart_quotes: 'ldquo,rdquo,laquo,raquo', auto_ids: false, syntax_highlighter: 'rouge'
  layout '/default.*'
  filter :rubypants
  filter :typogruby
  write ext: 'html'
end

compile '/sitemap.xml' do
  filter :haml
  write ext: 'xml'
end

compile '/feed.xml' do
  filter :haml, format: :xhtml
  write ext: 'xml'
end

compile '/**/*' do
  write item.identifier.to_s
end


layout '/**/*', :haml, format: :html5
