html, body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  color: black;
  background-color: #9c8767;
}
@media (max-width: 400px) {
  html, body {
    font-size: 0.7em;
  }
}
strong {
  font-weight: 700;
}
picture {
  width: 100%;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
hr {
  border: none;
  border-bottom: 1px solid #9c8767;
}
.fas, .far, .fab {
  margin-right: 0.5em;
}
#content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 4em;
  background-color: #ffffff33;
}
@media (max-width: 700px) {
  #content {
    margin: 0;
  }
}
#content #header {
  background-color: #ffffff33;
  margin-bottom: 2em;
}
#content #header * {
  font-size: 3em;
  display: inline-block;
  margin-right: 2em;
  vertical-align: middle;
}
#content #header h1 {
  font-size: 3em;
}
#content #header h1 a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
#content #header img {
  margin-left: 1em;
  width: 3em;
  height: 3em;
  background-color: #ffffff33;
}
#content #main {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
#content #main {
  padding-left: 2em;
  padding-right: 2em;
}
#content #main #tldr {
  font-size: 0.9em;
  font-weight: 100;
  padding: 1em;
}
#content #main #tldr::before {
  content: "TL;DR: "
}
#content #main #epigraph {
  font-size: 0.9em;
  font-weight: 100;
  font-style: italic;
  padding: 1em;
  border-bottom: 1px solid #9c8767;
  padding-left: 25%;
}
#content #main h2 {
  font-weight: 100;
  padding-left: 2em;
  background-color: #ffffff33;
}
#content #main h3 {
  font-weight: 100;
  padding-left: 1.5em;
  background-color: #ffffff33;
}
#content #main p::first-letter {
  font-variant: small-caps;
  font-size: 1.1em;
  font-weight: 700;
}
#content #main blockquote {
  background: #ffffff33;
  border: 1px solid #9c8767;
  font-style: italic;
}
#content #main blockquote p {
  display: inline-block;
}
#content #main blockquote::before {
  content: "«";
  font-style: normal;
  font-size: 1.1em;
  font-weight: 700;
}
#content #main blockquote::after {
  content: "»";
  font-style: normal;
  font-size: 1.1em;
  font-weight: 700;
}
#content #main blockquote p::first-letter {
  font-variant: normal;
  font-size: 1em;
  font-weight: normal;
}
#content #main code {
  background: #ffffff33;
  font-family: Fira Mono, monospace;
}
#content #main pre {
  background: #ffffff33;
  font-family: Fira Mono, monospace;
  border: 1px solid #9c8767;
  overflow-x: scroll;
}
#content #main pre code {
  background: none;
}
#content #main figure {
  border: 1px solid #9c8767;
  background-color: #fff3;
  margin: 0;
  padding: 1em;
}
#content #main figure figcaption {
  font-style: italic;
}
#content #main #meta {
  border-top: 1px solid #9c8767;
  font-size: 0.9em;
  font-weight: 100;
  margin-top: 1em;
  padding-top: 2em;
}
#content #main #meta div {
  padding-bottom: 1em;
}
#content #main #meta #tags .tag {
  display: inline-block;
  border-bottom: 1px dashed black;
  margin-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
#content #main #meta #links .link {
  display: inline-block;
  margin-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
#content #footer {
  background-color: #ffffff33;
  padding-top: 2em;
  padding-bottom: 4em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 0.8em;

}